<title style=color:green>FAMILY TRACKER</title>

<p style="margin-left:40px; color:green; font-size:36px; font-family:Tahoma">Who's where, when?	 </p>
<br> <br>
<p style="color:blue; font-size:20px; font-family:Tahoma">
<%= link_to "Search For Someone", search_people_path %>

<br> <br> <br>

<%= link_to "Add someone to the family", new_person_path %>

<br> <br> <br>

<%= link_to "Search For Someone", search_people_path %>
</p>
